header{
    font-family: 'Mogra', cursive;
}

*{
    font-family: 'East Sea Dokdo', cursive;
}

article{
    margin: 100px;
    padding: 60px;
}

img {
    margin: 100px;
    padding: 0px;
    width: 70%;
    border-radius: 50px;
}

.c1{
    display: flex; 
}

.c1 > div{
    width: 50%;
}

/* #a1 {
    width: 30%;
}
#a2 {
    width: 60%;
} */